.layout {
  display: flex;
  height: 100vh;
  background-color: black;
}

.sidebar {
  background-color: #000;
}

.main-content {
  background-color: #000;
  /* flex-grow: 1; */
}
.layout {
  display: flex;
  height: 100vh;
}

@media (max-width: 425px) {
  .sidebar {
    display: none;
  }
}
